*{
  padding: 0;
  margin: 0;
}

.nav{
  text-align: center;
  background-color: black;
}
.nav ul li{
  display: inline-block;
}
 a{
  display: inline-block;
  color: #EEF6F7;
  font-size: 20px;
  padding: 15px 20px;
  font-family: 'Cormorant Unicase', serif;
  text-decoration: none;
}
.nav li a:after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: solid 2px #ffff;
  transition: all .2s linear;
}
.nav ul li a:hover{
  color: #F10477;
  box-sizing: border-box;
}
.eje{
 color: #F10477;
}

#bar{
  background-color: black;
  padding: 14px 0;
  color: #F10477;
  width: 100%;
  box-sizing: border-box;
  display: none;
}
#bar span{
  margin-left: 20px;
}
header {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh - 54px);
  background-color: #b61924;
  background-image: url("style/roma.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
header article{
  background-color: rgba(21, 12, 7, 0.8);
  width: 80%;
  height: 110px;
}
header h4{
  position: absolute;
  top: 20%;
  font-size: 100px;
  font-family: 'Playfair Display', serif;
  color: #EC4343;
}
header article h4{
  font-size: 40px;
  position: absolute;
  top: 45%;
  left: 12%;
}
.d1{
  background-color: rgba(244, 238, 238,0.8);
  position: absolute;
  top: 45%;
  width: 65%;
  height: 10%;
  left: 23%;
}
.d2{
  font-size: 30px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
section img{
  width: 25%;
  display: inline-block;
  margin-right: -4px;
  margin-bottom: -4px;
}

@media only screen and (min-width:600px) and (max-width:992px){
  #bar{
    display:block;
  }
  .nav{
    position: fixed;
    top: 60px;
    z-index: 20;
    width: 250px;
    height: calc(100vh - 60px);
    transform: translateX(-250px);
    transition: all .2s linear;
  }
  .nav ul li{
    display: block;
  }
  .slide-nav{
    transform: translateX(0);
  }
}
